*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    overflow-x: hidden!important;
}

.red-color{
	color:#BE2525;
}

.blue-color{
    color:#1D2934;
}

.h3-list{
	color: #BE2525;
	font-size: 20px;
	font-weight: 600;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote {
    padding: 10px 15px;
    margin: 30px 10px 10px 10px !important;
    font-size: 15px;
    border-left: 5px solid RGBA(0, 0, 0, 0.18);
}
/* Custom scroll-bar styling */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#1D2934, #BE2525);
	border-radius: 6px;
}
::-ms-scrollbar{
		width: 5px;
}

::-ms-scrollbar-thumb{
	background: linear-gradient(#1D2934, #BE2525);
	border-radius: 6px;
}

::-moz-scrollbar{
		width: 5px;
}

::-moz-scrollbar-thumb{
	background: linear-gradient(#1D2934, #BE2525);
	border-radius: 6px;
}

#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #1D2934, #BE2525);
    padding: 0 !important;
}

#navbar-logo-cysphere{
	width: 100px;
    bottom: 3px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: bold;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
    border: none !important; 
}

/*--------------------- BANNER --------------------------*/
/*Caraousal CSS*/
.carousel-control.left,
.carousel-control.right{
	background-image: none!important;
}
#banner{
    background-image: linear-gradient(to right, #1D2934, #BE2525);
    padding-top: 5%;
    color: #fff !important;
    height: 750px;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.cy-body {
    font-size: 18px;
}
.fa-angle-double-right{
    color:#fff !important;
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0; 
}

.img-fluid{
    max-width: 300px !important;
}

.bottom-img{
    margin: 150px 0 0 0;
    width: 100%;
    height: 250px;
}

/*--------------------- ABOUT --------------------------*/

#about {
    padding: 50px 0;
}


.title-text::before{

    content:'';
    background: #1D2934;
    height: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(50px);
}

.title-text::after{

    content:'';
    background: #1D2934;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(4px);
}
#title-body{
	color:#1D2934;
	font-size: 18px;
	font-weight: 500;
	margin: 20px 0;
}

.about_img_01{
        width: 100px;
        height: 100px;
        margin: 20px 0;
}

.about_img_02{
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.about-body li{
	color: #1D2934;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.about-col{
    padding: 0 20px;
}


/*-------------------------- SOLUTIONS ----------------------------------*/


#solutions {
    background: #f8f9fa;
    padding: 50px 0px;
}
.solution-title-text {
    margin: 70px 0px;
}
.solution-sidebar{
	list-style: none;
	padding:0;
	background-color: rgb(28, 40, 51);
}
.solution-sidebar li {
	border-bottom: 1px solid white;
}
.solution-sidebar li a{
 text-decoration: none;
  color: white!important;
	padding: 12px 10px;
	display:block;
	cursor: pointer;
}
.solution-sidebar li a:visited {
	color: white;
}
.solution-sidebar li a:hover, .solution-sidebar li .current {
color: white;
background-color: rgb(244, 80, 66);
}

.listing-display-prop {
    display: none;
    background: #fff;
    border: 2px solid #fff; 
}


.sol-panel-body{
    width: 100%; 
    height: 390px;
    padding: 10px;
}
/***********************************
************************************
Solutions div animation
************************************
***********************************/
.animation-right {
    margin-left: 40px;
    animation: 1s ease-in-out 0s 1 slideInFromRight;
  
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: skew(0deg) translateX(100%);
      opacity: 0;
    }
    60% {
      opacity: 0.5;
    }
    100% {
      transform: skew(0deg) translateX(0);
      opacity: 1;
    }
  }

/*-------------------------- SERVICES ----------------------------------*/


  #services{
	width:100%;
	margin-bottom:40px;
}

.services-title-text{
    margin: 70px 0px !important;
}

.deco{
	font-family: 'Satisfy', cursive;
	color:#BE2525;

}
.grid-container-services{
	margin-top:30px;
}

.grid-col{
	height: 430px;
	border: 1px solid #fff;
}

.grid-col:hover .overlay {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(244, 80, 66, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
	opacity:0.7;
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-grid-1{
	background:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(54, 88, 120, 0.59)), url('../img/img-grid-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
.img-grid-2{
	background:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(54, 88, 120, 0.59)), url('../img/img-grid-2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.img-grid-3{
	background:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(54, 88, 120, 0.59)), url('../img/img-grid-3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.img-grid-4{
	background:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(54, 88, 120, 0.59)), url('../img/img-grid-4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
.img-grid-5{
	background:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(54, 88, 120, 0.59)), url('../img/img-grid-5.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.img-grid-6{
	background:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(54, 88, 120, 0.59)), url('../img/img-grid-6.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

/*---------------------------- TESTIMONIALS ------------------------------*/

#testimonials{
    /* margin: 100px 0 !important; */
    width: 100%;
    background: #f8f9fa;
}

.testimonial-title-text{
    position: relative;
    top: 55px;
    margin: 70px 0px !important;
}


.testimonial-client{
    padding: 0 0 0 10px;
}
/*sonar wave exp*/


.sonar-wrapper {
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 4rem 0;
  }

  /* The circle */
.sonar-emitter {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    background-color: rgb(244, 80, 66);
  }
  
  /* the 'wave', same shape and size as its parent */
  .sonar-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: rgb(244, 80, 66);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }

  /*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
    animation: sonarWave 1.5s linear infinite;
  }
  
  @keyframes sonarWave {
    from {
      opacity: 0.4;
    }
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }



/*---------------------------- FOOTER ------------------------------*/

footer {
    padding: 10px 0 0 0;
    background: #F2F3EB;
}
.footer{
	padding-top: 10px;
}

.footer a {
    color: #BE2525;
}

.footer__navigation li, .social-list li{
	display: inline-block;
}

.footer__navigation li a
{
	display: inline-block;
	color: #767676;
	font-weight: 600;
	font-variant-ligatures: common-ligatures;
	font-size: 1.2em;
	line-height: 1.625em;
	margin-top: 0;
	margin-bottom: 1.625em;
	padding-right: 10px;
}